


.done{
    background-color: rgb(174, 234, 214);
   text-decoration: line-through;
   color: red;
      
}

body{
    background-color: beige;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    text-align: center;
    /* border: 2px solid #641723;
    border-radius: 1rem; */
}

#addtask{
    background-color: rgb(174, 234, 214);
    text-align: center;
}

#taskTable{
    text-align: center;
  
}


